div.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: solid black 4px;
    div.collectedCardsSection {
        height: 65%;
        div.collectedCards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: auto;
            img {
                padding: 1%;
            }
        }
    }
}