/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset */
/* #D1495B red
#edae49 yellow
#30638e blue */

* {
    box-sizing:border-box;
    padding:0;
    max-width:100%;
}

p {
  font-size: 50px;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 70px;
}

body {
  background-color: #FBFAF5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #30638e;
  padding: 2vh;
}

.link {
  text-decoration: none;
  font-size: 16px;
}

.app {
  background-color: #FBFAF5;
  min-height: 100vh;
}

.trainerApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* place styles in either collection or emptyCollection */
.trainerHome {
  height: 100%;
}

.collection {
  height: 100%;
}

.emptyCollection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCollection .link {
  width: 100%;
  margin: 10%;
}

.emptyCollection .link button {
  width: 40%;
}

.navBar {
  height: 7vh;
  background-color: #D1495B;
  display: flex;
}

.navBar .link button {
  width: 100%;
  background-color: transparent;
  border: solid #FBFAF5 1px;
  color: #FBFAF5;
}

.link {
  width: 25%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

a {
    font-size: 3vw;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5%;
  padding: 2%;
  overflow: auto;
  width: 85%;
  background-color: #30638e;
  border-radius: 15px;;
  border: solid black 4px;
}

.loginPage {
  height: 100vh;
}

.loginForm {
  margin: 2vh 0;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.registerForm {
  margin: 2vh 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  /* border: black solid 2px; */
  height: 100%
}

.formInputs {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: solid black 2px; */
  height: 100%;
}

input {
  font-size: 50px;
}

select {
  font-size: 50px;
  width: 100%;
}

option {
  font-size: 10px;
}

button {
  font-size: 50px;
  border: none;
  width: 20%;
  height: 150px;
}

.error {
  color: red;
}

.my-collection .container {
  margin: 0.5%;
  width: 100%;
  height: auto;
  border: solid dodgerblue 0.4vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: auto;
  border: black 1px solid;
}


