header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0.5% 0;
}

.link {
    text-decoration: none;
    font-size: 16px;
    /* padding: 0 2%; */
}

.panel .sets {
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel .sets .set {
    padding: 3%;
    width:15%;
}

.panel .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0.5% 0;
}

.card {
    width: 15%;
    padding: 2%;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardInfo img {
    width: 40%;
}

.cardStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.cardStatDiv {
    display: flex;
    justify-content: space-between;
    width: 100%
}
