header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0.5% 0.5%;
    background-color: #30638e;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    /* padding: 0 2%; */
}

.ptcgioManager {
    display: flex;
    height: 80vh;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0.5%;
    border-radius: 15px;
    background-color: #30638e;
}

.sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0.5%;
    border-radius: 15px;
    background-color: #30638e;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5%;
    padding: 2%;
    overflow: auto;
    width: 85%;
    background-color: #30638e;
    border-radius: 15px;;
    border: solid black 4px;
}

.cardInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5%;
    padding: 2%;
    overflow: auto;
    background-color: #30638e;
    border-radius: 15px;;
    border: solid black 4px;
}

.panel.sets .set {
    padding: 3%;
    width:15%;
}

.panel.cards .card {
    width: 15%;
    padding: 2%;
}

.cardInfo img {
    width: 40vh;
}

.cardInfo .cardRarities {
    display: flex;
    justify-content: space-between;
}

.cardStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.cardStatDiv {
    display: flex;
    justify-content: space-between;
    width: 100%
}
